{% extends "base.html" %}

{% block content %}

<section class="sectionForm">
    <h2 class="text-top-form">RESETUJ HASŁO</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {% for error in form.email.errors %}
            <p class="error_info">{{ error }}</p>
            {% endfor %}
            <h5>Podaj email, aby zrestować hasło:</h5>
            {{ form.email(placeholder="email",class_='input_text') }}
        </div>
        <p>{{ form.submit(class_="button") }}
        </p>
    </form>
</section>

{% endblock %}