{% extends "base.html" %}

{% block content %}

<section class="sectionForm">
    <h2 class="text-top-form">LOGOWANIE</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <form action="/p23{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {% for error in form.email.errors %}
            <p class="error_info">{{ error }}</p>
            {% endfor %}

            {{ form.email(placeholder="email",class_="input_text") }}
        </div>
        <div>
            {% for error in form.password.errors %}
            <p class="error_info">{{ error }}</p>
            {% endfor %}
            {{ form.password(placeholder="hasło",class_="input_text") }}
        </div>
        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <a href="/p23{{ url_for('forget_password') }}" class="navbar-item forget">
            Zapomniałem hasła
        </a>
        <p>{{ form.submit(class_="button") }}
        </p>
    </form>
</section>

{% endblock %}
