{% extends "base.html" %}

{% block content %}


<section class="sectionForm">
    <h2 class="text-top-form">LOGOWANIE</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification ">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form class="ui form" method="POST" action="/login">
        <div class="field">
            <label id="username" for="username"></label>
            <input class="input_text" type="text" name="username" placeholder="Nazwa użytkownika" required>
        </div>

        <div class="field">
            <label for="password"></label>
            <input class="input_text" type="password" name="password" placeholder="Hasło" required>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input class="remember" type="checkbox" name="remember">
                <label>Zapamiętaj mnie</label>
            </div>
        </div>


        <button type="submit" class="button">Zaloguj się</button>

        <a href="{{ url_for('forget_password') }}" class="navbar-item forget">
            Zapomniałem hasła
        </a></li>


    </form>

</section>

{% endblock %}