{% extends "base.html" %}

{% block content %}
<div class="container-xl">
  <div id="app" class="container-xl">
    <div class="row mx-5" style="height: 100vh">
      <div class="col-8 h-10 ">

        <h2 class="p-4 w-75">Plansza przeciwnika</h2>
        <table class="row  rounded visible h-20 w-20 m-auto " style="font-size: 1.2rem; display:inline-block; user-select: none;" ref="gameboard_main"
          @click="playerAction">
          <tr>
            <td class="h-100 pr-2 col border border-dark "></td>
            {% for i in range(0,8) %}
            <td class="h-100 pr-2 col border border-dark">{{i+1}}</td>
            {%endfor%}
          </tr>
          {% for i in range(0,8) %}
          <tr>
            <td class="h-100 pr-2 col border border-dark">{{ alphabet[i]}}</td>
            {% for j in range(0,8) %}
            <td class="col pr-2 border border-dark" data-i="{{ i }}" data-j="{{ j }}"></td>
            {%endfor%}
          </tr>
          {%endfor%}
        </table>

        <table class="styled-table counterShips w-30 ml-5">
          <thead>
              <tr>
                  <th>Statki do rozłożenia</th>
                  <th>Ilość</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>4-masztowce</td>
                  <td>{% raw %} {{ numShip[3] }}{% endraw %}</td>
              </tr>
              <tr>
                  <td>3-masztowce</td>
                  <td>{% raw %} {{ numShip[2] }}{% endraw %}</td>
              </tr>
              <tr>
                  <td>2-masztowce</td>
                  <td>{% raw %} {{ numShip[1] }}{% endraw %}</td>
              </tr>
              <tr>
                  <td>1-masztowce</td>
                  <td>{% raw %} {{ numShip[0] }}{% endraw %}</td>
              </tr>
              <tr>
                  <td>Punkty</td>
                  <td>{% raw %} {{ points }}{% endraw %}</td>
              </tr>
              <tr>
                  <td>Punkty przeciwnika</td>
                  <td>{% raw %} {{ enemyPoints }}{% endraw %}</td>
              </tr>
          </tbody>
      </table>
        <h2 class="p-4">Twoja plansza</h2>
        <table id="yourBoxes" class="row rounded visible h-20 w-20 m-auto" style="font-size: 1.2rem; user-select: none;"
          ref="gameboard" @mouseout="buildNewShip" @mousedown="initNewShip" @mouseup="saveNewShip" >
          <tr>
            <td class="h-100 pr-2 col border border-dark"></td>
            {% for i in range(0,8) %}
            <td class="h-100 pr-2 col border border-dark">{{i+1}}</td>
            {%endfor%}
          </tr>
          {% for i in range(0,8) %}
          <tr>
            <td class="h-100 pr-2 col border border-dark">{{ alphabet[i]}}</td>
            {% for j in range(0,8) %}
            <td class="col pr-2 border border-dark" id="pos{{ i }}{{ j }}" data-i="{{ i }}" data-j="{{ j }}"></td>
            {%endfor%}
          </tr>
          {%endfor%}
        </table>
      </div>

      <div class="col-4 pl-3 playersList">
        <div class="row h-75">
          <div class="col h-75 text-center " style="background: rgb(99, 226, 135);">
            <p class="my-3">Witaj, {% raw %} {{ username }} {% endraw %} !!</p>
            <p class="my-3"> {% raw %} {{ players }} {% endraw %} gracz(y) online </p>
            <hr/>
            <div class="player-entry m-auto py-3 text-dark" style="cursor: pointer;" v-for="member in connectedPlayers"
              @click="choosePlayer">
              {% raw %} {{ member }} {% endraw %}
            </div>
          </div>
          <div class="w-100 communicate">KOMUNIKATY</div>
          <div class=" text-center py-3  w-100 h-25 statuses" @click="confirmSetup"
               style="cursor: pointer; background: #b6c0ca; font-size: 1em; font-weight: bold">

            {% raw %} {{ status }} {% endraw %}
          </div>
          <div class="w-100 communicate">ZAPROSZENIA</div>
          <div class="col h-75 text-center " style="background: rgb(99, 226, 135);">
            <div class="player-entry-invite  py-3 " style="cursor: pointer;" v-for="invitation in invitations">
              {% raw %} {{ invitation }} {% endraw %}
              <button class="buttonChoice" @click="acceptInvitation(invitation)">Akceptuj</button>
            <button class="buttonChoice" @click="declineInvitation(invitation)">Odrzuć</button>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
      Pusher.logToConsole = true;
      var app = new Vue({

        el: '#app',

        data: {
          username: {{ name | tojson }},
          alphabet: {{ alphabet | tojson }},
          DESTROYED_SHIP: 1,
          MISSED: -1,
          EMPTY: 0,
          players: 0,
          connectedPlayers: [],
          status: '',
          gameActive: false,
          respond: 3,
          pregame: false,
          playerNum: 2,
          opponentReady: false,
          invitations: [],
          pusher: new Pusher('4d2726b6eaed69e2834f', {
            authEndpoint: '/pusher/auth',
            cluster: 'eu',
            encrypted: true
          }),
          otherPlayerName: '',
          mychannel: {},
          otherPlayerChannel: {},
          turn: 0,
          gameResult: 0,
          mainBoxes: [
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0]
          ],
          yourBoxes: [
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0, 0]
          ],
          newShipFields: 0,
          points: 0,
          enemyPoints: 0,
          numShip: new Array(4,3,2,1),
          STOCKED: 10,
          SET: 11,
          SUNK: 12,
          shipFleet: [[10,10,10,10],
                  [10,10,10],
                  [10,10],
                  [10]]
        },

        created() {
          this.subscribe();
          this.setupListeners();
        },

        methods: {
          subscribe: function () {
            let channel = this.pusher.subscribe('presence-channel');
            this.myChannel = this.pusher.subscribe('private-' + this.username);
            channel.bind('pusher:subscription_succeeded', (player) => {
              this.players = player.count - 1;
              player.each((player) => {
                if (player.id != this.username) {
                  this.connectedPlayers.push(player.id)
                }
              })
            })
            channel.bind('pusher:member_added', (player) => {
              this.players++
              this.connectedPlayers.push(player.id)
            })
            channel.bind('pusher:member_removed', (player) => {
              this.players--
              var index = this.connectedPlayers.indexOf(player.id);
              if (index > -1) {
                this.connectedPlayers.splice(index, 1)
              }
            })
          },

          setupListeners: function () {
            this.pusher.bind('client-' + this.username, (message) => {
              this.invitations.push(message)
            })

            this.myChannel.bind('client-game-declined', () => {
            })

            this.myChannel.bind('client-set-ships', (message) => {
              this.setShipsOnMap()
            })

            this.myChannel.bind('client-is-ready', (boxes) => {
              this.opponentReady = true;
              this.enemyBoxes = boxes
              console.log(this.enemyBoxes)
            })

            this.myChannel.bind('client-game-started', (message) => {
              this.status = "Zaczynasz bitwe. Twój ruch!"
              this.turn = 1
              this.pregame=false
            })

            this.myChannel.bind('client-shoot-on-position', (data) => {
              let yPos = data['yPos']
              let xPos = data['xPos']
              this.getValueOnPos(yPos, xPos);
              let field = document.getElementById("pos" + yPos + xPos)
              if(this.yourBoxes[yPos][xPos] instanceof Array) {

                this.yourBoxes[yPos][xPos] = this.DESTROYED_SHIP
                field.style.background = "red"
              } else {
                this.yourBoxes[yPos][xPos] = this.MISSED
                field.style.background = "orange"
              }
            })

            this.myChannel.bind('client-return-value', data => this.executePlayerAction(data))

            this.myChannel.bind('client-your-turn', () => {
              this.turn = 1
              this.status = "Twój ruch!"
            })

            this.myChannel.bind('client-ask-match', () => {
              if (this.areAllPlayerShipsDestroyed()) {
                this.gameLost()
                this.otherPlayerChannel.trigger('client-you-won', "")
              }
            })

            this.myChannel.bind('client-you-won', () => {
              this.gameWon();
            })
          },

          acceptInvitation: function(message) {
            console.log(message)
            if(this.gameActive == false) {
              this.otherPlayerName = message
              this.otherPlayerChannel = this.pusher.subscribe('private-' + this.otherPlayerName)
              this.otherPlayerChannel.bind('pusher:subscription_succeeded', () => {
                this.otherPlayerChannel.trigger('client-set-ships', message)
              })
              this.saveToDB()
              this.playerNum = 1
              const index = this.invitations.indexOf(message);
              if (index > -1) {
                this.invitations.splice(index, 1); // 2nd parameter means remove one item only
              }
              this.setShipsOnMap()
              this.gameActive = true
            }
          },

          declineInvitation: function(message) {
            console.log(message)
            this.otherPlayerChannel = this.pusher.subscribe('private-' + message)
            this.otherPlayerChannel.bind('pusher:subscription_succeeded', () => {
              this.otherPlayerChannel.trigger('client-game-declined', "")
            })
            const index = this.invitations.indexOf(message);
            if (index > -1) {
              this.invitations.splice(index, 1); // 2nd parameter means remove one item only
            }
            this.gameDeclined()
          },

          choosePlayer: function (e) {
            this.otherPlayerName = e.target.innerText
            this.otherPlayerChannel = this.pusher.subscribe('private-' + this.otherPlayerName)
            this.otherPlayerChannel.bind('pusher:subscription_succeeded', () => {
              this.otherPlayerChannel.trigger('client-' + this.otherPlayerName, this.username)
            });
          },

          gameDeclined: function () {
          },

          setShipsOnMap: function () {
            this.status = "Ustaw statki na planszy. Kliknij tutaj, gdy bedziesz gotowy "
            this.pregame=true
          },

          addBonusPoints: function (lenShip){
            var result = 0
            if(lenShip==2){
                result = 3
            }else if(lenShip==3){
                result = 7
            }else if(lenShip==4){
                result = 13
            }
            return result
          },

          executePlayerAction: function (data) {
            let yPos = data['yPos'];
            let xPos = data['xPos'];
            let value = data['value'];
            let status = data['status'];
            this.enemyPoints = data['enemyPoints']
            if (value instanceof Array) {
              this.mainBoxes[yPos][xPos] = this.DESTROYED_SHIP
              this.currentEvent.target.style.background = 'green'
              this.points += 1
              this.turn = 1
              if(status =='Trafiony zatopiony!'){
                this.points += this.addBonusPoints(yPos +1)
                this.turn = 0
                this.status = status + " Teraz ruch przeciwnika!"
                this.otherPlayerChannel.trigger('client-your-turn', "")
              }

            } else {
              this.mainBoxes[yPos][xPos] = this.MISSED
              this.currentEvent.target.style.background = 'red'
              this.otherPlayerChannel.trigger('client-your-turn', "")
              this.status = "Ruch przeciwnika!"
            }
          },

          initNewShip: function(e) {
            let yPos = e.target.dataset.i
            let xPos = e.target.dataset.j
            this.newShipFields = [e]
          },

          buildNewShip: function(e) {
            if(this.newShipFields !=0){
              let yPos = e.target.dataset.i
              let xPos = e.target.dataset.j
              console.log(yPos + ' ' + xPos)
              this.newShipFields.push(e)
             }
          },

          isStraight: function(clickedFields){
              if(clickedFields.length==1){
                    return true
              }
              var firstYPos = clickedFields[0].target.dataset.i
              var firstXPos = clickedFields[0].target.dataset.j

              if(clickedFields.every(e => e.target.dataset.i == firstYPos)){
                 var xPoses = clickedFields.map(e => e.target.dataset.j)
                 const unique = xPoses.filter((x, i, a) => a.indexOf(x) == i)
                 return unique.length == clickedFields.length
              }else if(clickedFields.every(e => e.target.dataset.j == firstXPos)){
                 var yPoses = clickedFields.map(e => e.target.dataset.i)
                 const unique = yPoses.filter((x, i, a) => a.indexOf(x) == i)
                 return unique.length == clickedFields.length
              }
              return false
          },


          getFirstAvailableShipID: function(length){
            if(this.shipFleet[length-1].includes(this.STOCKED)){
             return [length-1,this.shipFleet[length-1].indexOf(this.STOCKED)]
            }else{
             return false
            }
          },

          deleteShipMasted: function(shipID){
            this.shipFleet[shipID[0]][shipID[1]]=this.STOCKED
            this.numShip[shipID[0]] = this.numShip[shipID[0]]+1
            for (var i = 0; i < 8; i++) {
              for (var j = 0; j < 8; j++) {
                if (this.yourBoxes[i][j] == shipID) {
                  console.log("SHIPID "+ shipID)
                  this.yourBoxes[i][j] = this.EMPTY
                  let field = document.getElementById("pos" + i + j)
                  field.style.background = 'rgb(171, 212, 248)'
                }
              }
            }
          },

          isHitAndSunk: function(shipID){
            for (var i = 0; i < 8; i++) {
              for (var j = 0; j < 8; j++) {
                if (this.yourBoxes[i][j] == shipID) {
                  return false
                }
              }
            }
            this.shipFleet[shipID[0]][shipID[1]]=this.SUNK
            return true
          },

          saveNewShip: function(e) {
            if(this.newShipFields !=0){
              this.newShipFields.push(e)
              var clickedFields = this.newShipFields.slice();
              clickedFields.shift()
              this.newShipFields = 0

              if(clickedFields.length<5){
                var result =true
                if(this.isStraight(clickedFields)==false){
                  return 0
                }
                for (let i = 0; i < clickedFields.length; i++){
                  result = this.settingAction(clickedFields[i], clickedFields.length);
                  if(result==false){
                    break
                  }
                }

                if(result==true){
                  if(this.numShip[clickedFields.length-1]!=0){
                    var shipID = this.getFirstAvailableShipID(clickedFields.length)
                    this.shipFleet[shipID[0]][shipID[1]]=this.SET
                    this.numShip[shipID[0]] = this.numShip[shipID[0]]-1
                    var color = "rgb(" + Math.floor(Math.random() * 170) + ",0,0)"
                    for (let i = 0; i < clickedFields.length; i++){
                      this.setShipOnBoard(clickedFields[i], shipID,color)
                    }
                  }else{
                    return 0
                  }
                }
              }
            }
          },

          settingAction: function (e, len) {
            let yPos = e.target.dataset.i
            let xPos = e.target.dataset.j
            if(this.pregame==true){
              console.log(yPos + ' ' + xPos + " " + this.yourBoxes[yPos][xPos])
              if (this.yourBoxes[yPos][xPos] == this.EMPTY) {
                return true
              } else if (this.yourBoxes[yPos][xPos] != this.EMPTY && len==1) {
                this.deleteShipMasted(this.yourBoxes[yPos][xPos])
              }else{
                return false
              }
            }
          },

          setShipOnBoard: function(e, shipID, color){
          console.log("SHIPSSS "+ shipID)
            let yPos = e.target.dataset.i
            let xPos = e.target.dataset.j
            this.yourBoxes[yPos][xPos] = shipID
            e.target.style.background = color
          },

          confirmSetup: function (e) {
            if(this.pregame == true && this.numShip.every(el => el === 0) ) {
              if (this.opponentReady == false) {
                this.otherPlayerChannel.trigger('client-is-ready', this.yourBoxes)
                this.status = "Oczekiwanie na przeciwnika"
              } else {
                this.startGame()
                this.otherPlayerChannel.trigger('client-game-started', "")
              }
            }
          },

          startGame: function () {
            this.status = "Gra rozpoczęta";
            this.pregame=false
          },

          // Checks to see if the play was a winning play CHECK IF IT IS WORKING
          async playerAction(e) {
            this.currentEvent = e
            let yPos = e.target.dataset.i
            let xPos = e.target.dataset.j

            if (this.turn && this.mainBoxes[yPos][xPos] == this.EMPTY) {
              this.turn = 0
              console.log(yPos + " " + xPos)

              this.otherPlayerChannel.trigger('client-shoot-on-position', {
                "yPos": yPos,
                "xPos": xPos
              })

              this.otherPlayerChannel.trigger('client-ask-match', "")
            }
          },

          getValueOnPos: function (yPos, xPos) {
            let value = this.yourBoxes[yPos][xPos]
            if (value instanceof Array) {
              this.yourBoxes[yPos][xPos] = this.DESTROYED_SHIP
            } else {
              this.yourBoxes[yPos][xPos] = this.MISSED
            }
            var status = "Twój ruch"
            if(this.isHitAndSunk(value)){
                status = "Trafiony zatopiony!"
            }
            this.otherPlayerChannel.trigger('client-return-value', {
              "yPos": yPos,
              "xPos": xPos,
              "value": value,
              "status": status,
              "enemyPoints": this.points,

            })
          },

          areAllPlayerShipsDestroyed: function () {
            for (var i = 0; i < 4; i++) {
              for (var j = 0; j < this.shipFleet[i].length; j++) {
                if (this.shipFleet[i][j] != this.SUNK) {
                  return false
                }
              }
            }
            return true
          },

          gameWon: function () {
            this.status = "Wygrałeś!"
            this.gameResult = 1
            this.updateStatusGameToDB()
          },

          gameLost: function () {
            this.status = "Przegrałeś!"
            this.gameResult = 2
          },

          restartGame: function () {
            this.gameActive = false
            this.$refs.gameboard_main.classList.add('invisible');
            this.$refs.gameboard.classList.add('invisible');
            this.points = 0
            this.enemyPoints = 0
            this.shipFleet = [[10,10,10,10],[10,10,10],[10,10],[10]]
            this.numShip= new Array(4,3,2,1)
            for (i = 0; i < 8; i++) {
              for (j = 0; j < 8; j++) {
                this.mainBoxes[i][j] = this.EMPTY;
                this.yourBoxes[i][j] = this.EMPTY
              }
            }
            this.$refs.gameboard_main.classList.remove('invisible');
            this.$refs.gameboard.classList.remove('invisible');
          },

          async saveToDB(){
            var config = { headers: {'Content-Type': 'application/json'}}
            const path = '/rooms';
            await axios.post(path,{
              gameResult: this.gameResult,
              enemy: this.otherPlayerName,
            },config)
            .then(response => {
                console.log(response)
            })
            .catch(error => {
                console.log(error.response)
            });
          },

          async updateStatusGameToDB(){
            var config = { headers: {'Content-Type': 'application/json'}}
            const path = '/rooms';
            await axios.put(path,{
              playerNum: this.playerNum,
              points: this.points - this.enemyPoints,
            },config)
            .then(response => {
                console.log(response)
            })
            .catch(error => {
                console.log(error.response)
            });
          },
        }
     });
    </script>

  </div>
</div>
{% endblock %}
