{% extends "base.html" %}

{% block content %}
<h1   style="display:inline-block">STATYSTYKI GIER</h1>
<section class="button_previous" style="display:inline-block">
    <a href="javascript:history.back()" class="back_to_previous">Powrót do poprzedniej strony</a>
</section>

<div class="sections">
    

    <section>
        <h2>Wszyscy użytkownicy</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Uzytkownik</th>
                    <th>Gry wygrane</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for user in all_users %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.name}}</td>
                    <td>{{games_won_for_all_players}}/{{games_lost}}</td>
                </tr>
                {%endfor%} -->

                {% for dict_item in games_won_for_all_players %}
                    {% for key, value in dict_item.items() %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
</section>   

<section>
    
    <h2>Twoje gry</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Uzytkownik</th>
                <th>Gry wygrane</th>
                <th>Gry przegrane</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{get_curent_user}}</td>
                <td>{{games_won}}</td>
                <td>{{games_lost}}</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h3>Inne</h3>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Ostatnio grałeś z</th>
                <th>Status ostatniej gry</th>
                <th>Przewaga punktowa wygranego</th>
                <th>Najczęsciej grasz z</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{last_game_with.name}}</td>
                <td>{{status_game}}</td>
                <td>{{points_from_last_game}}</td>
                <td>{{last_game_numbers.name}}</td>
            </tr>
        </tbody>
    </table>
</section>

</div>

{% endblock %}