{% extends "base.html" %}

{% block content %}

<section>
    <h1>Statystyki gier</h1>
    <table class="stat_table">
        <tr>
            <td class="stat_td">Gry wygrane</td>
            <td class="stat_td">{{games_won}}</td>
        </tr>
        <tr>
            <td class="stat_td">Gry przegrane</td>
            <td class="stat_td">{{games_lost}}</td>
        </tr>
        <tr>
            <td class="stat_td">Gry w trakcie</td>
            <td class="stat_td">{{games_in_progress}}</td>
        </tr>
    </table>
</section>
{% endblock %}