{% extends "base.html" %}

{% block content %}

<section class="sectionForm">
   <h2 class="text-top-form">REJESTRACJA</h2>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="notification">
      {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}

   {% for field, errors in form.errors.items() %}
   <p class="error_info"> {{ ', '.join(errors) }}</p>
   {% endfor %}
   <form action="" method="post">
      {{ form.hidden_tag() }}
      <div>
         {{ form.name(placeholder="Nazwa",class_='register_input') }}
      </div>
      <div>
         {{ form.email(placeholder="Adres e-mail",class_='register_input') }}
      </div>
      <div>
         {{ form.password1(placeholder="Hasło",
         class_='register_input') }}
      </div>
      <div>
         {{ form.password2(placeholder="Powtórz hasło",class_='register_input') }}
      </div>
      <h3><a class="do_you_have_account" href="{{ url_for('login') }}">Masz już konto?</a></h3>
      <div>{{ form.submit(class_='button') }}
      </div>
   </form>
</section>

{% endblock %}