{% extends "base.html" %}
{% block content %}
<section>

    {% if users %}
    <table>
        <tr>
            <th>Dostępni gracze</th>
        </tr>
        {% for avail in available %}<tr>
            <td>{{ avail }}</td>
        </tr>{% endfor %}
    </table>

    <table>
        <tr>
            <th>Zajęci gracze</th>
        </tr>
        {% for in_g in in_game %}<tr>
            <td>{{ in_g }}</td>
        </tr>{% endfor %}
    </table>

    <table>
        <tr>
            <th>Wszyscy gracze</th>
        </tr>
        {% for user in users %}<tr>
            <td>{{ user }}</td>
        </tr>{% endfor %}
    </table>
    {% else %}
    <h1>{% block title2 %} Brak graczy {% endblock %}</h1>
    {% endif %}

</section>
{% endblock %}