@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(171, 212, 248);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding-right:0 !important;
    padding-left:0 !important;
}

.mainBody {
    /* margin-top: 1rem; */
    background-color: rgb(171, 212, 248);
    /* padding: 10vh; */
}

header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    height: 5rem;
    background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%) !important;
}



.brand a {
    text-decoration: none !important;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.navbar {
    height: 100%;
    display: flex;
    text-align: center;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

}
.back_to_previous{
    display: block;
    width: 18rem;
    height: 3rem;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}
.back_to_previous:hover{
    text-decoration: none;
}

ul {
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    line-height: 2rem;
}

li {
    list-style-type: none;
    margin-left: 1rem;
    height: 100%;
    padding: 0.5rem;
    cursor: pointer;
}

li>a {
    text-decoration: none !important;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar {
    padding: 1rem 1rem 0.3rem 1rem !important;
}
.player-entry {
    width: 5rem;
    /* background-color: #3092fa; */
    margin:0 auto;
    border-radius: 25px;
}

.player-entry:hover {
    /* width: 2rem; */
    background-color: #50b2c4;
}

/* FORMULARZ */
.sectionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    padding: 10px;
}
section {
    padding: 2rem;
}
.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 20px;
}

.register_input {
    font-weight: bold;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_text {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.notification {
    color: red;
    padding: 0.5rem;
}

.do_you_have_account:visited {
    color: blue;
}

.do_you_have_account {
    text-align: center;
    text-decoration: none;
}

.do_you_have_account:hover {
    text-decoration: underline;
    transition: .5s;
}

.error_info {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.3rem;
}

.checkbox {
    display: inline-block;
    margin: 15px;
}

.text-top-form {
    margin: 1.5rem;
}


.button {
    background-color: rgb(17, 192, 70);
    text-align: center;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 1rem;
}


.button:hover {
    background-color: rgb(7, 139, 179);
    cursor: pointer;
}

.button_register {
    background: #f25d5d;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    width: 33%;
    text-transform: uppercase;
    margin-top: 1rem;
}

.button_register:hover {
    background: #ec2727;
    cursor: pointer;
}



.forget {
    /* background-color: rgb(134, 155, 142); */
    text-align: center;
    border-style: none;
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color: rgb(236, 117, 78);
}

.forget:hover {
    color: rgb(146, 46, 12);
}

@media(max-width: 692px) {
    form {
        width: 70%;
    }
}

@media(max-width: 450px) {
    form {
        width: 80%;
    }
}

.main-title {
    text-align: center;
}

.main-subtitle {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh;

    /* overflow: hidden;
    position: absolute; */
}

.stat_table {
    border: 1px solid #1100ff;
    border-collapse: collapse;
    padding: 3px;
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    height: 100px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    padding-top: 10vh;
}

.stat_th {
    border: 4px solid #0088ff;
    border-collapse: collapse;
    padding: 7px;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

.stat_td {
    border: 1px solid #0088ff;
    border-collapse: collapse;
    padding: 7px;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

.playersList {
    /* right: 0; */
    margin-top: 0vh !important;
    margin-left: auto !important; 
    margin-right: 0 !important;
}
.communicate{
    text-align: center;
    padding:10px;
    font-weight: bold;
}
.statuses:hover{
    background: rgb(107, 108, 109) !important;
    transition: .3s;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
